<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
<extension point="org.eclipse.ui.popupMenus" > 
<viewerContribution  
      id="org.eclipse.ui.articles.action.contribution.popup.editor"
   targetID="#CompilationUnitEditorContext"> 
   <action
         id="org.eclipse.ui.articles.action.contribution.editor.action1" 
         label="Find Page"
	     menubarPath="additions" 
	     variable="selection"
		 value="*"
		 icon="resource\right.png"
      class="springplugin.popup.actions.FindNavigationPage"> 
      <!--  <selection class="java.lang.String" name="*"/> -->
      </action> 
   </viewerContribution> 
</extension>

<extension point="org.eclipse.ui.startup">
     <startup class="springplugin.Initializer"/>
   </extension>

</plugin>
